*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{

    /* Colores */
    --primer-color:rgba(231,169,66,1);
    --segundo-color: rgba(231,169,66,1);


    /* fuentes */
    
    --body-font: 'Raleway', sans-serif;
    
    /* gradientes */
    --gradiente-color1:radial-gradient(circle,rgba(231,169,66,1) 0%, rgba(0,0,0,1) 82%);
    --gradiente-color2:linear-gradient(120deg, #a1c4fd50 20%, #c2e9fb31 80%);

}
body{
    font-family: var(--body-font) ;
    min-height: 600px;
    padding: 80px 0;
    background-image:var(--gradiente-color1);
    background-color: var(--primer-color);
    background-repeat: no-repeat;

    /* Con esto no necesitamos responsive */
    display: grid;
    grid-auto-rows: max-content;
    grid-template-columns: repeat(auto-fit , minmax(310px, 1fr));
    gap: .6em;
}
.main{
    margin: auto;
    width: 90%;
    background-image:var(--gradiente-color2);
    overflow: hidden;
    padding: 1em;
    border-radius: 1em;

    animation: mostrar 1.5s ease-in-out;
}
/* Animacion */
@keyframes mostrar{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
/* Fondo de imagen */
.mainFig{
    overflow: hidden;
    border-radius: 1em;
    display: flex;
    background-color: #e7e4e92a;
}
.mainImg{
    margin: auto;
    width: 80%;
    max-width: 60vw;
}
/* Datos del formulario */
.mainContacto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.5em;
    padding: 3em .7em;
    text-align: center;
}
.mainForm{
    display: grid;
    justify-items: center;
    gap: 1.5em;
}
.mainInput{
    width: 88%;
    max-width: 500px;
    outline: none;
    border: none;
    padding: 1em;
    font:inherit;
}
.mainEnviado{
    background-color: var(--primer-color) ;
    color: black ;
    font-weight: 600;
    cursor: pointer;
}
/* Titulos y parrafos */
.mainTitulo{
    font-size: 2.3rem;
}
.mainParrafo{
    margin: .3em 0;
}

/* Icoonos */
.mainSocial{
    display: grid;
    grid-auto-flow: column;
    justify-content: center;
    grid-auto-columns: max-content;
    gap: 1em;
}
.mainLink{
    /* border 1px solid white; */
    border-radius: 10px;
    padding: .6em 1.5em;
}
.mainLink:hover{
    background-color: white;
}
.mainIcon{
    width: 30px;
    height: 30px;
}

/* estado de colores */
.color-red{
    color: hsl(4, 71%, 50%);
}
.color-blue{
    color: green;
}